## Практикум по Pandas

In [1]:
# отключаем предупреждения Anaconda
import warnings
warnings.simplefilter('ignore')

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import scipy.stats as stats

### Упражнение

Загрузите в датафрейм mountains содержимое файла Mountains.csv. Посчитайте следующие показатели:
1. Минимальную и максимальную высоту гор в этом наборе

2. В каком году было впервые покорено наибольшее количество вершин (столбец First ascent)?

3. В каком году покорили высочайшую вершину?

4. Вывести название гор с максимальной/минимальной высотой.

5. Постройте распределение First ascent по годам

6. Классифицируйте высоту гор и посчитайте распределение количества вершин по этой классификации:
 * высота до 7500 метров - High
 * до 8000 метров - Very_high
 * более 8000 метров - Extremely_high
 
7. Посчитайте распределение в группе

8. Переведите классификацию гор в категриальны переменные. 

9. Отфильтровать и вывести только те горы, которые относятся к группе Extremaly_high.

10. Добавить столбец общего количества попыток покорить вершину до 2004 года.

11. Проверить на нормальность столбец общего количества попыток (графически и арифметически).

11. Расчитать коэффициент корреляции в зависимости от полученного результата п.11

In [2]:
mount = pd.read_csv('Mountains.csv', delimiter=',')
mount

,Rank,Mountain,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
0,1,Mount Everest / Sagarmatha / Chomolungma,8848,29029,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,NaN,1953,>>145,121.0
1,2,K2 / Qogir / Godwin Austen,8611,28251,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest,1954,45,44.0
2,3,Kangchenjunga,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24.0
3,4,Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
4,5,Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0
...,...,...,...,...,...,...,...,...,...,...,...
113,105,Noijin Kangsang / Norin Kang,7206,23642,2160,Nagarze Himalaya,28°56′48″N 90°10′42″E﻿,Gangkar Puensum,1986,4,1.0
114,106,Langtang Ri,7205,23638,650,Langtang Himalaya,28°22′53″N 85°41′01″E﻿,Shisha Pangma,1981,4,0.0
115,107,Kangphu Kang,7204,23635,1200,Lunana Himalaya,28°09′20″N 90°03′48″E﻿,Tongshanjiabu,2002,1,0.0
116,108,Singhi Kangri,7202,23629,790,Siachen Karakoram,35°35′59″N 76°59′01″E﻿,Teram Kangri III,1976,2,0.0
117,109,Lupghar Sar,7200,23622,730,Hispar Karakoram,36°21′01″N 75°02′13″E﻿,Momhil Sar,1979,1,0.0