# Титаник

https://www.kaggle.com/c/titanic/

In [2]:
import numpy as np
import pandas as pd

In [3]:
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns

%config InlineBackend.figure_format = 'retina'
from pylab import rcParams
rcParams['figure.figsize'] = (9, 6)

### Данные

In [4]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [5]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
test.head()

In [ ]:
train.Pclass.value_counts(normalize=True)

In [ ]:
train.info()

### Фичи

чтобы одинаковым образом обработать train и test и не дублировать все операции 2 раза, соединим эти два набора данных в один, не забыв при этом:
1. удалить целевую переменную из train
2. проверить на соответствие набора признаков друг другу
3. добавить флаг того, является ли объект тестовым или нет

In [ ]:
y_train = train.Survived
train.drop('Survived', axis=1, inplace=True)

In [ ]:
train.columns == test.columns

In [ ]:
train['is_test'] = 0
test['is_test'] = 1

In [ ]:
df = pd.concat([train, test])

Теперь полный набор данных можно обрабатывать вместе и в любой момент, уже обработанными, обратно разъединить на обучающую и тестовую выборки

Пол male/female закодируем в 1/0 и удалим переменные, с которыми мы не будем сейчас работать

In [ ]:
df["isMale"] = df.Sex.replace({"male": 1, "female":0})
df.drop(["Sex", "Cabin", "Ticket", "Name", "PassengerId"], axis=1, inplace=True)

признаки, значения которых составляют небольшой перечислимый набор, закодируем в отдельные столбцы

In [ ]:
df.Pclass.value_counts()

In [ ]:
df_dummies = pd.get_dummies(df, columns=['Pclass', 'Embarked'])

In [ ]:
df_dummies.head(10)

In [ ]:
df_dummies.isnull().sum()

In [ ]:
X_train = df_dummies[df_dummies.is_test==0].drop('is_test', axis=1)
X_test = df_dummies[df_dummies.is_test==1].drop('is_test', axis=1)

In [ ]:
columns = X_train.columns

In [ ]:
X_train.head(10)

### Заполнение пустых значений

заполним пустые значения средними по соответственным признакам

In [ ]:
from sklearn.impute import SimpleImputer 
imputer = SimpleImputer(strategy='mean',verbose=0, copy=True)

In [ ]:
imputer.fit(X_train)

In [ ]:
X_train_imputed = imputer.transform(X_train)
X_train_imputed = pd.DataFrame(X_train_imputed, columns=columns)

In [ ]:
X_train_imputed.head(10)

### Нормировка значений

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()

In [ ]:
scaler.fit(X_train_imputed)

In [ ]:
X_train_imputed_scaled = scaler.transform(X_train_imputed)
X_train_imputed_scaled = pd.DataFrame(X_train_imputed_scaled, columns=columns)

In [ ]:
X_train_imputed_scaled.head(10)

In [ ]:
X_test_imputed_scaled = scaler.transform(imputer.transform(X_test))

### Визуализация всех пассажиров: поиск кластеров
### PCA + clustering

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
pca = PCA(n_components=2)

In [ ]:
ppl = pca.fit_transform(X_train_imputed_scaled)

всего 2 фичи объясняют 41% всего разнообразия пассажиров:

In [ ]:
pca.explained_variance_ratio_.sum()

6-7 кластеров пассажиров: внутри кластера они похожи друг на друга, межу кластерами - нет:

In [ ]:
plt.plot(ppl[:,0], ppl[:,1], 'ro', alpha=0.2)
plt.grid()
plt.title('Пассажиры Титаника')

можно попробовать кластеризовать по 7 кластерам и проверить, что получится:

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
n_clusters = 7

In [ ]:
kmeans = KMeans(n_clusters=n_clusters)

In [ ]:
kmeans.fit(X_train_imputed_scaled)

In [ ]:
cluster_labels = kmeans.predict(X_train_imputed_scaled)

In [ ]:
plt.title('Пассажиры Титаника')
for i,color in zip(range(n_clusters),{'blue','red','green','black','orange','yellow', 'brown'}):
    t = ppl[cluster_labels==i]
    plt.plot(t[:,0], t[:,1], 'ro', alpha=0.1, c=color)
plt.grid()

эти номера кластеров можно было бы подать как ещё одна фича

### Разделение на обучающую и тестирующую выборки

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train_fin, X_val, y_train_fin, y_val = train_test_split(X_train_imputed_scaled, y_train, test_size=0.2)

In [ ]:
X_train_fin.shape

In [ ]:
X_val.shape

In [ ]:
X_test_imputed_scaled.shape

In [ ]:
y_train_fin.shape

In [ ]:
y_val.shape

### Обучение с кросс-валидацией

кросс-валидация поможет нам подобрать лучший параметр регуляризации

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression

In [ ]:
cs = 10**np.linspace(-3,1,5)
cs

In [ ]:
grid = {'C': cs}
gridsearch = GridSearchCV(LogisticRegression(), grid, scoring='accuracy', cv=5)

In [ ]:
%%time
gridsearch.fit(X_train_fin, y_train_fin)

In [ ]:
gridsearch.best_params_

In [ ]:
best_C = gridsearch.best_params_["C"]

# Оценка точности

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
clf = LogisticRegression(C=best_C)

In [ ]:
clf.fit(X_train_fin, y_train_fin)

In [ ]:
y_val_pred = clf.predict(X_val)

In [ ]:
accuracy_score(y_val, y_val_pred)

# Финальное предсказание

In [ ]:
clf.fit(X_train_imputed_scaled, y_train)

предсказание вероятностей принадлежности классу 0 и 1:

In [ ]:
clf.predict_proba(X_test_imputed_scaled)[:10]

предсказание номера класса:

In [ ]:
predictions = clf.predict(X_test_imputed_scaled)
predictions

In [ ]:
for col, val in zip(X_train.columns, clf.coef_[0]):
    print("{:30} {:.2f}".format(col, val))

Регрессия позволяет посмотреть влияние различных факторов на принятое решение. Так, видно, что женский пол, маленький возраст и первый класс являлись сильными предпосылками к выживанию